<%- include('include/_header') %>
<br>

<main id="site main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <button type="button" class="btn btn-secondary">
                    <a href="/" style="text-decoration: none; color:white;"><i class="fas fa-angle-double-left"></i>Ver Todos</a>
                </button>

            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Agregar Estudiante</h2>
            <span class="text-ligth">Agrega un usuario con el siguiente formulario</span>

        </div>

        <%- include('include/_form') %>

    </div>
</main>


<%- include('include/_footer') %>